syntax: glob

*.local
makefiles/local.mk

# Editors
.idea/
*.sublime*


# GTAGS
.tags

# LaTeX and related
*.bbl
*.blg
*.synctex.gz
*.aux
*.fls
*.fdb_latexmk
*.jpeg
*.jpg
*.pdf
*.txt

# C/C++
*.bc
*.ll
*.d
*.o
*.so
*.lo
*.so.*
*.debug
*.out
*.asm
*.exe
*.a

# Python
*.pyc

# Misc
*.log
*.err
*.fuse*

nops.c

# == Project ==

# working directories
build/
bin/
*/results/*
tmp/
results/
*/input/*

# shared directory for Docker
data*/
data/

!scripts/mng

# ignore statistics - it is changed each time a plot is generated
*.stats.csv
