syntax: glob

*.local
makefiles/local.mk

# Editors
.idea/
*.sublime*

# C/C++
*.bc
*.ll
*.d
*.o
*.so
*.lo
*.so.*
*.debug
*.out
*.asm
*.exe
*.a

# Python
*.pyc

# Misc
*.log
*.err
*.fuse*

# package
dist/
fex2.egg-info/
tmp/
files.txt

# working directories
build/
